@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Source+Sans+3:wght@600&display=swap');
@import 'tailwindcss';
@theme {
    --color-black:#1f1f1f;
    --color-grey:#6D6C6C;
    --color-dark-grey:#636363;
    --color-hr-light:#EBEBEB;
    --color-hr-dark:#F3F4F5;
    --color-primary:#2D95EC;
    --color-primary-hover:#2272B6;
    --color-secondary:#17BADC;
    --color-secondary-hover:#138CAB;
    --color-tertiary:#536473;
    --color-tertiary-hover:#3D5061;
    --color-background:#092137;
    --color-pastel-primary:#F4FAFE;
    --color-pastel-secondary:#F8F5F2;
    --font-primary:"Be Vietnam Pro", sans-serif;
    --font-secondary:"Source Sans 3", sans-serif;
    --radius-custom:3.33rem;
    /* overrides */
    --text-xl:20px;
    --text-3xl:27px;
    --text-4xl:40px;
}
@layer base {
  html, body {
    font-family: var(--font-primary);
    font-size:15px;
  }
}
@utility bg-custom-hero {
  background-image: url('/images/hero-image.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: -70px;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
@utility rounded-custom-bl {
    border-radius: var(--radius-custom);
    border-bottom-left-radius: 0;
}
@utility rounded-custom-br {
    border-radius: var(--radius-custom);
    border-bottom-right-radius: 0;
}
@utility rounded-custom-tl {
    border-radius: var(--radius-custom);
    border-top-left-radius: 0;
}
@utility rounded-custom-tr {
    border-radius: var(--radius-custom);
    border-top-right-radius: 0;
}