@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Source+Sans+3:wght@600&display=swap');
@import 'tailwindcss';
@theme {
    --color-black:#1f1f1f;
    --color-grey:#6D6C6C;
    --color-dark-grey:#636363;
    --color-hr-light:#EBEBEB;
    --color-hr-dark:#F3F4F5;
    --color-primary:#2D95EC;
    --color-primary-hover:#2272B6;
    --color-secondary:#17BADC;
    --color-secondary-hover:#138CAB;
    --color-tertiary:#536473;
    --color-tertiary-hover:#3D5061;
    --color-background:#092137;
    --color-pastel-primary:#F4FAFE;
    --color-pastel-secondary:#F8F5F2;
    --font-primary:"Be Vietnam Pro", sans-serif;
    --font-secondary:"Source Sans 3", sans-serif;
    /* overrides */
    --text-xl:20px;
    --text-3xl:27px;
    --text-4xl:40px;
}
@layer base {
  html, body {
    font-family: var(--font-primary);
    font-size:15px;
  }
}
@utility bg-custom-hero {
  background-image: url('/images/hero-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
@utility bg-color-hero {
  background-image:linear-gradient(
    to top,
    transparent 0px,
    transparent 70px, 
    var(--color-background) 70px,    
    var(--color-background) 100%);
}